Source: synnefo
Priority: optional
Maintainer: Kai-Uwe Behrmann (oy) <oy@oyranos.org>
Build-Depends: debhelper (>= 8.0.0),
 cmake,
 pkg-config,
 liboyranos-dev,
 libxcm-dev,
 x11proto-xf86vidmode-dev,
 x11proto-xext-dev,
 libxxf86vm-dev,
 libxrandr-dev,
 libxinerama-dev,
 libxmu-dev,
 libxfixes-dev,
 qtbase5-dev
Standards-Version: 3.9.3
Section: graphics
Homepage: http://www.oyranos.org/synnefo
Vcs-Git: git://gitlab.com/oyranos/synnefo
Vcs-Browser: http://gitlab.com/oyranos/synnefo

Package: synnefo
Section: graphics
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Color Management front-end
 Synnefo uses the Oyranos CMS to provide the ability to set and examine 
 device profiles, as well as to change system-wide color settings.

Package: liboyranos-synnefo1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Color Management System front-end library
 Synnefo library uses the Oyranos CMS to provide the ability to set and 
 examine device profiles, as well as to change system-wide color settings.

Package: liboyranos-synnefo-dev
Section: libdevel
Architecture: any
Depends: synnefo (= ${binary:Version}), ${misc:Depends}
Description: Color Management System Development Files
 Synnefo library uses the Oyranos CMS to provide the ability to set and 
 examine device profiles, as well as to change system-wide color settings.
 Header files.
